@model Library.Web.Models.BookTypesListViewModel

@{
    ViewBag.Title = "Book Types";
}

<h2>Book types</h2>

@foreach (var bookTypes in Model.BookTypes)
{
    @Html.Partial("BookTypeSummary", bookTypes)
}

<div class="btn btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>



