@using Library.Domain.Entities
@model Library.Web.Models.BookTypesListViewModel


@{
    ViewBag.Title = "Book Types";
}

<h2>Book types</h2>

@foreach (var bookType in Model.BookTypes)
{    <div class="well">
        <h4>
            <strong>@bookType.Description</strong>
    </h4>
</div>
}

<div class="btn btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>



