@using Library.Domain.Entities
@model Library.Web.Models.BookTypesListViewModel


@{
    ViewBag.Title = "Book Types";
}

<h2>Book types</h2>

@foreach (var bookType in Model.BookTypes)
{    <div>
        <h3>@bookType.Description</h3>
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>



