@model Library.Domain.Entities.Book

<div>
    @if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="75" height="75" src="@Url.Action("GetImage", "Books", new { Model.BookID })" />
        </div>
    }
        
        <h4>
            @Model.Title
        </h4>

        <div>
           
        </div>

    <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2 pull-right">
        @using (Html.BeginForm("Delete", "Writers"))
        {
            @Html.Hidden("WriterID", Model.BookID)
            @Html.ActionLink("Edit", "Edit", new { bookId = Model.BookID }, new { @class = "btn btn-warning" })
            <input type="submit" class="btn btn-danger" value="Delete" />
        }
    </div>
</div>
